PORT=4000
GATEWAY_SECRET=your-gateway-secret-key
JWT_SECRET=your-jwt-secret-key
AUTH_SERVICE_URL=http://localhost:4001
RBAC_SERVICE_URL=http://localhost:4002
DATA_MASTER_SERVICE_URL=http://localhost:4003
TRANSAKSI_SERVICE_URL=http://localhost:4004
